$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  margin-top: 5px;
  font: 100% $font-stack;
  color: $primary-color;
  border-radius: 2px;
  display: flex;
  opacity: .5;
  margin: 0px;
}
